@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  /* height: 2400px; */
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  background-image: url("background.jpg");
  background-size: cover;
}
#navList {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #999;
  list-style-type: none;
  padding: 1rem;
}
#navList > li {
  margin-right: 1rem;
  cursor: pointer;
}
.navLink {
  color: #999;
  text-decoration: none;
}
.activeLink {
  color: #222;
  background-color: rgba(153, 153, 153, 0.6);
  cursor: default;
  padding: 0.25rem;
  border-radius: 5px;
  backdrop-filter: blur(10px);
}
h1 {
  transition: transform 300ms;
  cursor: pointer;
}
h1:hover {
  transform: translate(-6px, -6px);
}

/* h1:hover::after {
  content: url("copy.svg");
} */
.calendarDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
  padding: 0 30rem;
}
/* formula for nth-child is different with grid model */
.calendarDiv > span:nth-child(7n) {
  color: aqua;
}
.calendarDiv > span:nth-child(7n - 1) {
  color: rgb(175, 236, 33);
}
.weekDaySpan {
  color: #999;
}
.daySpan {
  cursor: pointer;
  min-height: 2rem;
  min-width: 2rem;
  padding-top: 0.2rem;
  border-radius: 0.3rem;
  color: #222;
  text-align: center;
  background-color: rgba(153, 153, 153, 0.5);
}
.daySpan:hover {
  transform: translate(-2px, -2px);
}
#mainDiv {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  width: 25%;
  position: fixed;
  bottom: 0.5rem;
  left: 0.5rem;
}
#dateDiv {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

#weekDayHeader {
  margin: 5rem;
}
#mainDiv h1 {
  color: #222;
  text-align: center;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 15px;
  backdrop-filter: blur(15px);
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.2);
}

#dateDiv h1 {
  color: #222;
  text-align: center;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 15px;
  backdrop-filter: blur(15px);
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.2);
}
#hourHeader {
  background-color: rgba(233, 237, 201, 0.3);
}
#weekDayHeader {
  align-self: flex-start;
  flex-grow: 1;
  background-color: rgba(250, 237, 205, 0.3);
}
#dateHeader {
  align-self: flex-end;
  flex-grow: 2;
  color: #333;
  width: fit-content;
  text-align: center;
  font-size: 3rem;
  margin: 1rem;
  padding: 2rem;
  border-radius: 15px;
  background-color: rgba(212, 163, 115, 0.3);
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.2);
}
.footer {
  position: absolute;
  bottom: 0;
  right: 50%;
}
footer span {
  color: #999;
  text-align: center;
}
